# Ignore virtual environment
venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore logs and other temp files
*.log
*.tmp

# Ignore environment config
.env

# Ignore subtitles output
obs_subtitles.txt